 Create a DataFrame: Create a DataFrame with the following data:
Name | Age | Department
--------------------------
Alice | 30 | HR
Bob | 24 | Engineering
Carol | 29 | Marketing
Dave | 35 | IT
 Filter Rows: Using the DataFrame from Exercise 1, filter the rows to include only those
where the age is greater than 28.
 Add a Column: Add a new column to the DataFrame from Exercise 1 called Salary with
the following values: [50000, 60000, 55000, 70000].
 Calculate Average Salary: Compute the average salary of all employees in the DataFrame
from Exercise 1.
 Group By and Aggregate: Using the DataFrame from Exercise 1, group by the
Department column and calculate the average age of employees in each department.

In [35]:
import pandas as pd

# Create the DataFrame with given data
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Age': [30, 24, 29, 35],
    'Department': ['HR', 'Engineering', 'Marketing', 'IT']
}

df = pd.DataFrame(data)
print("DataFrame:\n", df)
filtered_df = df[df['Age'] > 28]
print("\nFiltered DataFrame (Age > 28):\n", filtered_df)

DataFrame:
     Name  Age   Department
0  Alice   30           HR
1    Bob   24  Engineering
2  Carol   29    Marketing
3   Dave   35           IT

Filtered DataFrame (Age > 28):
     Name  Age Department
0  Alice   30         HR
2  Carol   29  Marketing
3   Dave   35         IT

In [38]:
df['Salary'] = [50000, 60000, 55000, 70000]
print("\nDataFrame with Salary Column:\n", df)
average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)

average_age_by_department = df.groupby('Department')['Age'].mean()
print("\nAverage Age by Department:\n", average_age_by_department)

DataFrame with Salary Column:
     Name  Age   Department  Salary
0  Alice   30           HR   50000
1    Bob   24  Engineering   60000
2  Carol   29    Marketing   55000
3   Dave   35           IT   70000

Average Salary: 58750.0

Average Age by Department:
 Department
Engineering    24.0
HR             30.0
IT             35.0
Marketing      29.0
Name: Age, dtype: float64

 Sort Data: Sort the DataFrame from Exercise 1 by the Age column in descending order.
 Merge DataFrames: Create another DataFrame with the following data:
Name | Joining Date
----------------------
Alice | 2022-01-15
Bob | 2023-03-22
Carol | 2021-11-08
Dave | 2020-05-19
Merge this DataFrame with the one from Exercise 1 based on the Name column.
 Handle Missing Values: Create a DataFrame with some missing values:
Name | Age | Salary
---------------------
Alice | 30 | 50000
Bob | NaN | 60000
Carol | 29 | NaN
Dave | 35 | 70000
Fill the missing values in the Age column with the mean age and in the Salary column with the
median salary.

In [40]:
import pandas as pd

# Recreate the original DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Age': [30, 24, 29, 35],
    'Department': ['HR', 'Engineering', 'Marketing', 'IT'],
    'Salary': [50000, 60000, 55000, 70000]
}
df = pd.DataFrame(data)

# Sort the DataFrame by the Age column in descending order
sorted_df = df.sort_values(by='Age', ascending=False)
print("Sorted DataFrame by Age (Descending):\n", sorted_df)

# Create another DataFrame with joining dates
joining_dates = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Joining Date': ['2022-01-15', '2023-03-22', '2021-11-08', '2020-05-19']
}
df_dates = pd.DataFrame(joining_dates)

# Merge the two DataFrames on the Name column
merged_df = pd.merge(df, df_dates, on='Name')
print("\nMerged DataFrame:\n", merged_df)

Sorted DataFrame by Age (Descending):
     Name  Age   Department  Salary
3   Dave   35           IT   70000
0  Alice   30           HR   50000
2  Carol   29    Marketing   55000
1    Bob   24  Engineering   60000

Merged DataFrame:
     Name  Age   Department  Salary Joining Date
0  Alice   30           HR   50000   2022-01-15
1    Bob   24  Engineering   60000   2023-03-22
2  Carol   29    Marketing   55000   2021-11-08
3   Dave   35           IT   70000   2020-05-19

In [41]:
# Create a DataFrame with missing values
data_missing = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Age': [30, None, 29, 35],
    'Salary': [50000, 60000, None, 70000]
}
df_missing = pd.DataFrame(data_missing)

# Fill missing values
mean_age = df_missing['Age'].mean()
median_salary = df_missing['Salary'].median()

df_missing['Age'].fillna(mean_age, inplace=True)
df_missing['Salary'].fillna(median_salary, inplace=True)

print("\nDataFrame with Missing Values Handled:\n", df_missing)

DataFrame with Missing Values Handled:
     Name        Age   Salary
0  Alice  30.000000  50000.0
1    Bob  31.333333  60000.0
2  Carol  29.000000  60000.0
3   Dave  35.000000  70000.0

 Apply Function: Using the DataFrame from Exercise 1, create a new column called Age in
5 Years where each value is the age of the employee 5 years from now.
 Pivot Table: Create a pivot table from the DataFrame in Exercise 1 to show the average
salary by Department.
 Drop Columns: Using the DataFrame from Exercise 1, drop the Department column and
display the updated DataFrame.
 Date Operations: Using the DataFrame from Exercise 7 (the one with Joining Date),
extract and create a new column Joining Year that contains the year part of the Joining
Date.

In [43]:
import pandas as pd

# Recreate the original DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Age': [30, 24, 29, 35],
    'Department': ['HR', 'Engineering', 'Marketing', 'IT'],
    'Salary': [50000, 60000, 55000, 70000]
}
df = pd.DataFrame(data)

# Create a new column 'Age in 5 Years'
df['Age in 5 Years'] = df['Age'] + 5
print("DataFrame with 'Age in 5 Years':\n", df)

# Create a pivot table showing average salary by Department
pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc='mean')
print("\nPivot Table (Average Salary by Department):\n", pivot_table)

DataFrame with 'Age in 5 Years':
     Name  Age   Department  Salary  Age in 5 Years
0  Alice   30           HR   50000              35
1    Bob   24  Engineering   60000              29
2  Carol   29    Marketing   55000              34
3   Dave   35           IT   70000              40

Pivot Table (Average Salary by Department):
               Salary
Department
Engineering  60000.0
HR           50000.0
IT           70000.0
Marketing    55000.0

In [44]:
# Drop the 'Department' column
df_dropped = df.drop(columns='Department')
print("\nDataFrame with 'Department' Column Dropped:\n", df_dropped)
# Create the DataFrame with Joining Date
joining_dates = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Joining Date': ['2022-01-15', '2023-03-22', '2021-11-08', '2020-05-19']
}
df_dates = pd.DataFrame(joining_dates)

# Convert 'Joining Date' to datetime format
df_dates['Joining Date'] = pd.to_datetime(df_dates['Joining Date'])

# Extract the year and create a new column 'Joining Year'
df_dates['Joining Year'] = df_dates['Joining Date'].dt.year
print("\nDataFrame with 'Joining Year' Column:\n", df_dates)

DataFrame with 'Department' Column Dropped:
     Name  Age  Salary  Age in 5 Years
0  Alice   30   50000              35
1    Bob   24   60000              29
2  Carol   29   55000              34
3   Dave   35   70000              40

DataFrame with 'Joining Year' Column:
     Name Joining Date  Joining Year
0  Alice   2022-01-15          2022
1    Bob   2023-03-22          2023
2  Carol   2021-11-08          2021
3   Dave   2020-05-19          2020

 Unique Values: Using the DataFrame from Exercise 1, find and display the unique values in
the Department column.
 Conditional Column: Create a new column called Age Category in the DataFrame from
Exercise 1, where the value is &#39;Young&#39; if age is less than 30, and &#39;Experienced&#39; otherwise.
 Combine DataFrames: Create two DataFrames:
df1:
Name | Department
---------------------
Alice | HR
Bob | Engineering
df2:
Name | Salary
------------------
Carol | 55000
Dave | 70000
Combine df1 and df2 based on the Name column, handling the missing values as needed.

In [46]:
import pandas as pd

# Recreate the original DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave'],
    'Age': [30, 24, 29, 35],
    'Department': ['HR', 'Engineering', 'Marketing', 'IT'],
    'Salary': [50000, 60000, 55000, 70000]
}
df = pd.DataFrame(data)

# Find and display the unique values in the 'Department' column
unique_departments = df['Department'].unique()
print("Unique values in 'Department' column:", unique_departments)
# Create a new column 'Age Category' based on the 'Age' column
df['Age Category'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Experienced')
print("\nDataFrame with 'Age Category':\n", df)

Unique values in 'Department' column: ['HR' 'Engineering' 'Marketing' 'IT']

DataFrame with 'Age Category':
     Name  Age   Department  Salary Age Category
0  Alice   30           HR   50000  Experienced
1    Bob   24  Engineering   60000        Young
2  Carol   29    Marketing   55000        Young
3   Dave   35           IT   70000  Experienced

In [47]:
# Create two DataFrames
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Department': ['HR', 'Engineering']
})

df2 = pd.DataFrame({
    'Name': ['Carol', 'Dave'],
    'Salary': [55000, 70000]
})

# Combine the DataFrames on the 'Name' column
combined_df = pd.merge(df1, df2, on='Name', how='outer')

print("\nCombined DataFrame:\n", combined_df)

Combined DataFrame:
     Name   Department   Salary
0  Alice           HR      NaN
1    Bob  Engineering      NaN
2  Carol          NaN  55000.0
3   Dave          NaN  70000.0